.agendador-citas-view-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--sys-color-surface);
  color: var(--sys-color-on-surface);
}

.tab-pane-wrapper {
  padding: 16px 0;
  width: 100%;
}
