MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/appointments_db?retryWrites=true&w=majority
RABBITMQ_URI=amqp://localhost:5672
RABBITMQ_PATIENTS_QUEUE=patients_queue
RABBITMQ_PROCEDURES_QUEUE=procedures_queue
RABBITMQ_SCHEDULING_QUEUE=scheduling_queue

USE_GOOGLE_CALENDAR=false
GOOGLE_APPLICATION_CREDENTIALS=/path/to/credentials.json
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project.iam.gserviceaccount.com
